.main {
    max-width: 750px;
    margin: 0 auto;
    font-size: 12px !important;
}

#header {
    text-align: center;
    padding-bottom: 10px;
}

div h1 {
    font-size: 15px;
    margin: 0;
}

#header h1.sub {
    font-weight: normal;
}

ul {
    list-style: none;
}

table {
    width: 100%;
}

#area-info td:nth-child(2n + 1) {
    font-weight: bold;
}

.table-info table, 
.table-info td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table-info #calamity td:nth-child(2n) {
    width: 82%;
}